body {
	background-color: rgb(255, 255, 255);
  margin: 0px;
}

.hero-image {
  background-image: url("../images/banner.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text h1 {
	font-family: 'Fira Sans', sans-serif;
}

.content-container {
    width: 100%;
    margin: auto;
    position: relative;
}

.content-box {
	  padding: 20px 100px;
		font-family: 'Fira Sans', sans-serif;
}

.content-box-white {
  background-color: rgb(255, 255, 255);
}

.content-box-white h1 {
  font-size: 30px;
	font-weight: 200;
}

.content-box-white img {
	display: block;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.content-box-white a:link {
	color: rgb(37, 129, 196);
}

.content-box-white a:visited {
	color: rgb(37, 129, 196);
}

.content-box-white a:hover {
	color: rgb(188, 228, 250);
}

.content-box-white a:active {
	color: rgb(50, 51, 53);
}

.content-box-blue {
  background-color: rgb(37, 129, 196);
	color: rgb(255, 255, 255);
}

.content-box-blue a:link {
	color: rgb(188, 228, 250);
}

.content-box-blue a:visited {
	color: rgb(188, 228, 250);
}

.content-box-blue a:hover {
	color: rgb(255, 255, 255);
}

.content-box-blue a:active {
	color: rgb(50, 51, 53);
}

.image-box {
  padding: 20px 0px;
}

.logo-box {
	padding: 20px;
	opacity: 0.9;
}

.footer-box {
  padding: 1px 50px;
  background-color: rgb(180, 181, 183);
  font-family: 'Fira Sans', sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
}
